:root {
  color-scheme: dark;
}

html {
  scrollbar-gutter: stable;
}

.wrapper {
  --width: 1280px;
  --padding: 1.5rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}